@using FarmersMarket.Models.ViewModels
@model ProductViewModel
    
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Products", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", "Products", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger" })
    </td>
</tr>

