@using FarmersMarket.Web.Infrastructure.Extensions
@using FarmersMarket.Models.ViewModels
@model CategoryViewModel

@{
    ViewData["Title"] = "Create new category";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" value="Create" class="w-100 btn btn-lg btn-primary"></button>
            </div>
            <div>
                <p>
                    <a class="w-100 btn btn-lg btn-danger" id="back-to-home" asp-page="./Admin">Cancel</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
