@using FarmersMarket.Models.ViewModels
@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Action</th>
    </tr>

    @Html.DisplayFor(category => category)

    </table>

    <div>
        <a  asp-area="Admin" asp-controller="Categories" asp-action="Create" class="btn btn-success">Create</a>
    </div>
</div>





