@using FarmersMarket.Models.ViewModels
@using X.PagedList
@model IPagedList<UserViewModel>

@{
    ViewData["Title"] = "Users";
}
<div class="container">
    @if (Model == null)
    {
        <h1>There are no users.</h1>
    }
    else
    {
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div id="users">
            @{
                <partial name="_UsersPartial" for="@Model"/>
            }
        </div>
    }
</div>





