<ul class="navbar-nav">
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Farms" asp-action="All">Farms</a>
    </li>
    <li role="presentation" class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Products" asp-action="All" asp-route-area="" asp-route-category="">All</a></li>
        </ul>
    </li>
</ul>