<div id="notifications" style="display: none;"></div>

<script>
    var notificationsHub = $.connection.notifications;
    notificationsHub.client.receiveNotification = function (type, notification) {
        var notificationElement = $("<div>")
            .addClass("alert alert-dismissible alert-" + type)
            .html("<button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" +
                notification);
        $("#notifications").append(notificationElement);

        var notesCount = parseInt($(".circle-cell").html());
        $(".circle-cell").html(notesCount + 1);

        $(".close")
            .click(function () {
                var count = $("#notifications div").length;
                $(".circle-cell").html(count - 1);
            });

        $("#notes")
            .click(function () {
                if ($('#notifications').css('display') == 'none') {
                    $('#notifications')
                        .css({
                            display: 'block'
                        });
                } else {
                    $('#notifications')
                        .css({
                            display: 'none'
                        });
                }

            });
    }

    $.connection.hub.start();
</script>