@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-policy">
    Farmers Market<sup>TM</sup> is a service offered by Farmers Market Innovations Canada (“TI”, “we” or “us”), an Ontario Corporation. This “Privacy Policy describes how Farmers Market<sup>TM</sup> collects, processes and protects your personal information in connection with your use of Farmers Market<sup>TM</sup> – our mobile applications “App”.
<ol>
	<li><strong> Why, how and what Personal Information we collect</strong></li>
</ol>
You can generally use parts of our Services or our website without giving us any personal information about you. However, most of our Services are only accessible if your register a user account with Farmers Market<sup>TM</sup> and complete and submit the “Personal Information” required for the registration process.

When you register a user account with Farmers Market<sup>TM</sup> we may request you to provide us with Personal Information about you which may comprise your name, address, phone number, email address, credit or debit card information and details of your usage of our Services or other information specifically required to offer our services to you.

Some of the Personal Information that we collect about you will be “Personal Information” – This means information and data related to you and which may be used to identify you.
<ol start="2">
	<li><strong> How we use the Personal Information we collect</strong></li>
</ol>
We use your Personal Information where this is required to provide relevant information and services or parts thereof (including our website) to you and generally to fulfil our contractual obligations towards you. We will also use and analyse the Personal Information we collect so that we can administer, support, and develop our business and for any other statistical or analytical purposes.

In particular, we may use your Personal Information for any of the following purposes, provided that there is permissible under applicable law:
<ul>
	<li>To register you and to enable you to use our App or Services;</li>
	<li>To better serve you by providing relevant information (i.e. restaurants that cater to your preferences and profile, location information to determine restaurants closest to you);</li>
	<li>For assessment and analysis of our market, customers, products and services, including asking you for your opinions on our products and services and carrying out customer surveys;</li>
	<li>To enable us to monitor, review and improve the products and services which we offer;</li>
	<li>For internal record keeping</li>
	<li>To review the third party services you have used and to recommend similar services to you.</li>
</ul>
To the extent permissible pursuant to applicable law, (a) we may combine the Personal Information together in a combined database or in separate databases.

We will not return your Personal Information for longer than is necessary for the purposes for which it was intended or initially collected, or as required under any contract with you or by applicable law. We will delete your Personal Information once you inform us that you will no longer be using our Services unless and to the extend we are required to retain your Personal Information for legitimate reasons (e.g. due to legal requirements or if we still need your Personal Information to process the contractual relationship with you, such as billing or account) or if a deletion of your Personal Information would only be possible with unreasonable efforts, in which case we will lock your personal information instead of a deletion. We will not collect an excessive amount of personal Data about you or any information that is not relevant to the purposes it was collected for.
<ol start="3">
	<li><strong> Disclose of your Personal Information</strong></li>
</ol>
The App processes personal information on our servers in many countries around the world. We may process your personal information on a server located outside the country where you live.

Your personal information is subject to the laws of the country in which it is held, and may be subject to disclosure to the government’s courts or law enforcement or regulatory agencies of such other country, pursuant to the laws of such country. We will always take steps to ensure that your information is treated in accordance with this policy.

Some third parties process information on our behalf, such as processing credit card payments and providing support services for us. In addition, we may need to provide your Personal Information to any delivery restaurants (“Delivery Restaurants”) that you have placed your order with. By submitting your Personal Information, you agree to this transfer, storing or processing. TI will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.

If you have consented we may allow carefully selected third parties, including marketing and advertising companies, our affiliates and associates, to contact you occasionally about other services that may be of interest to you. They may contact you by telephone, SMS as well as by e-mail. If you change your mind about being contacted by these companies in the future, please let us know by using the contact details set out below and/or by amending your profile accordingly.

If our business enters into a joint venture with, purchases or is sold to or merged with another business entity, your Personal Information may be disclosed or transferred to the target company, our new business partners or owners or their advisors.

We may use the Personal Information that you provide to us if we are under a duty to disclose or share your Personal Information in order to comply with (and/or where we believe we are under a duty to comply with) any applicable legal obligation; or in order to enforce our Service Terms and any other agreement we have with you. This includes exchanging Personal Information with other companies and other organizations for the purposes of fraud protection and prevention.

We will always take steps to ensure that your Personal Information is used by third parties in accordance with this Privacy Policy, including ensuring that third parties are contractually required to comply with this Privacy Policy.
<ol start="4">
	<li><strong> Security</strong></li>
</ol>
We are committed to ensure that your Personal Information is kept and stored securely and we maintain reasonable physical, technical and organisational measures and procedures to safeguard and secure the information we collect through our App.

This has been done with a view to preventing unauthorised or unlawful processing of your Personal Information and accidental, unauthorised or unlawful access, use, processing, copying, alteration, transfer, loss or destruction of, or damage to your Personal Information.

We protect the security of your Personal Information by doing the following:
<ul>
	<li>Encryption of our services where appropriate using SSL;</li>
	<li>Reviewing information collection, storage and processing practices (this includes physical security measures to guard against unauthorized access to systems)</li>
	<li>Limit access to Personal Information (for example, only our staff or employees who need access to it for the purposes described in this Privacy Policy will have access to it).</li>
</ul>
<ol start="5">
	<li><strong> Application</strong></li>
</ol>
Our Privacy Policy applies to all of the services offered by TI and its affiliates, including services offered on other sites, but excludes services that have separate privacy policies that do not incorporate this Privacy Policy.

Our Privacy Policy does not apply to services offered by other companies or individuals, including products or sites that may be displayed to you in search results. Our Privacy Policy does not cover the information practices of other companies and organizations who advertise our services, and who may use cookies, pixel tags and other technologies to serve and offer relevant ads.
<ol start="6">
	<li><strong> Accessing and updating your Personal Information</strong></li>
</ol>
You can access, review and edit your Personal Information at any time by logging into your user account and visiting your user profile. Once you have access to your user profile you can review and edit any Personal Data you provided to us when you registered to our Services.

Whenever you use our services, we aim to provide you with access to your Personal Information. If that information is wrong, we strive to give you ways to update it quickly or delete it. We reserve the right to reject requests that are unreasonably repetitive, require disproportionate technical effort, rick the privacy of others, or would be extremely impractical.
<ol start="7">
	<li><strong> Enforcement</strong></li>
</ol>
We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.
<ol start="8">
	<li><strong> Changes to this Privacy Policy</strong></li>
</ol>
Farmers Market<sup>TM</sup> may change and update this Privacy Policy from time to time. Farmers Market<sup>TM</sup> will notify you of any material changes or additions to this privacy Policy and will provide you with a copy of the amended Privacy Policy, either on our website, by use of your email address provided to Farmers Market<sup>TM</sup> or by any other suitable means which ensure that you will be able to take notice of the changes to this Privacy Policy.
<ol start="9">
	<li><strong> Contact</strong></li>
</ol>
You can contact us to learn more about our commitment to privacy and this Privacy Policy. Under certain jurisdictions and data protection laws you may have the right to request details of Personal Information, which we hold about you or to request the correction or deletion of your Personal Information.

Please help us to ensure that the information that we hold about you is accurate and up to date. If you think that any information we have stored about you is incorrect, or have any other comments, queries or requests please contact us at <a href="mailto:support@farmersmarket.com">support@farmersmarket.com</a>
</div>
<p>Use this page to detail your site's privacy policy.</p>
