@using FarmersMarket.Models.ViewModels
@using X.PagedList
@model IPagedList<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<div class="container">
    @if (Model == null)
    {
        <h1>There are no orders.</h1>
    }
    else
    {
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="form-group">
            <label for="status" class="col-lg-1 control-label">Filter by:</label>
            <div class="col-lg-2">
                <select class="form-select selectpicker" id="orderStatus">
                    <option>All</option>
                    <option>Open</option>
                    <option>Pending</option>
                    <option>Placed</option>
                    <option>Delivered</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="orders" id="orders">
            @{
                <partial name="_OrdersByStatusPartial" for="@Model"/>
            }
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderStatus").change(function () {
                var statusSelected = $("#orderStatus option:selected").first().text();
                $.get('@Url.Action("OrdersByStatusPartial")',
                    { status: statusSelected }, function (data) {
                        $("#orders").html(data);
                    });
            });
        });
    </script>
}





